<% include shared/header.ejs %>


<h1><%= title %></h1>
<p><%= message %></p>

<ul class="list-group">
    <li class="list-group-item">Welder</li>
    <li class="list-group-item">Plumber</li>
    <li class="list-group-item">Web Designer</li>
    <li class="list-group-item">Programmer</li>
    <li class="list-group-item">Welder</li>
    <li class="list-group-item">Plumber</li>
    <li class="list-group-item">Web Designer</li>
    <li class="list-group-item">Programmer</li>
    <li class="list-group-item">Welder</li>
    <li class="list-group-item">Plumber</li>
    <li class="list-group-item">Web Designer</li>
    <li class="list-group-item">Programmer</li>
  </ul>

<% include shared/footer.ejs %>